<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neon Bootstrap</title>
    <link rel="icon" type="image/gif" href="/assets/img/favicon.gif" />

    <!-- css -->
    <link href="/assets/css/vendor/elastic.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/vendor/elastic.print.css" rel="stylesheet" type="text/css">

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- js -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="/neon/neon.js"></script>
    <script src="/neon/stdlib/custom_event.js"></script>
    <script src="/neon/stdlib/custom_event_support.js"></script>
    <script src="/neon/stdlib/node_support.js"></script>
    <script src="/neon/stdlib/bubbling_support.js"></script>

    <script src="/assets/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/vendor/elastic.js"></script>
    <script src="/assets/js/vendor/Widget.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/CharacterList.js"></script>
    <script src="/assets/js/Character.js"></script>
</head>

<body>
    <div class="unit wrapper">
        <div class="unit header">
            <a href="javascript:void(0);"class="new-character" data-type="hero">New Hero</a>
            <a href="javascript:void(0);"class="new-character" data-type="enemy">New Enemy</a>
        </div>

        <div class="unit body columns on-2">
            <div class="column characters-list-wrapper">

            </div>

            <div class="column jobs">

            </div>
        </div>

    </div>
</body>

</html>
