html{
    background-color: #EEEEEE;
}

body{
    font-family: Tahoma, Geneva, sans-serif;
    color: #333333;
}

a{
    text-decoration: none;
}

.clearfix{
    clear: both;
}

.hidden{
    display: none;
}

/*simulator*/

.drone-simulator{
    min-width: 550px;
}

.controls{
    background-color: #555555;
    padding: 12px 0 12px 0;
    box-shadow:inset 0 -2px 0 0 rgba(0,0,0,.5)
}

.button{
    padding: 5px;
    margin: 0 10px;

    font-weight: bold;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.2);
}

.launch{
    background-color: #7AA62B;
}

.reset{
    background-color: #428BCA;
}

.button:hover{
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
}

.button:active{
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
}

/*Map*/

.map{
    margin: 10px auto;
    overflow: hidden;

    background: #CFCFCF url(/assets/img/maps/base.png) no-repeat;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.8);
}

.map-cell{
    float: left;

    box-shadow: 0 0 0 1px rgba(0,0,0,.05);
}

.map-cell[status="picture-taken"]{
    background: rgba(0,0,0,.3) url(/assets/img/camera.png) no-repeat 50% 50%;
}

.map-cell[status="processing"]{
    background: rgba(0,0,0,.3) url(/assets/img/hourglass.png) no-repeat 50% 50%;
}

/*Drones*/
.stations-container{
    margin: 15px 0 0 10px;
}

.drone-station{
    float: left;
    margin-left: 2px;
    width: 22px;
    height: 22px;
    position: relative;

    background-color: #F0AD4E;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
    border-radius: 3px;
}

.drone{
    position: absolute;
    top: 0;
    left: 0;

    width: 22px;
    height: 22px;
    background: transparent url(/assets/img/drone.png);
    z-index: 1;
}

/*Firebase Queue Monitor*/

.firebase-queue-monitor{
    height: 100px;
}

.worker-container{
    margin: 15px 0 0 10px;
}

.worker{
    float: left;
    margin-left: 2px;
    width: 22px;
    height: 21px;
    padding-top: 3px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: #64739E;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
    border-radius: 3px;
    text-align: center;
}

.firebase-queue-monitor .controls{
    min-height: 53px;
    box-shadow: -2px 0 #333333, inset 0 -2px rgba(0,0,0,.5);
}

.firebase-queue-monitor .title{
    padding-left: 7px;

    color: #FFFFFF;
    font-weight: bold;

}

.job{
    margin-top: 3px;
    padding: 3px;

    color: #333333;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.5);
}

.job[status="processing"]{
    background-color: #6478FF;
}

.job[status="destroyed"]{
    background-color:red;
}

.status{
    font-size: 8px;
    font-weight: bold;
}


.job-command{
    margin: 3px;
}

