a{
    text-decoration: none;
}

body{
    font-family: Tahoma, Geneva, sans-serif;
    color: #333;
}

.header{
    height: 60px;

    background-color: #333333;
}

.new-character {
    padding: 10px;
    margin: 10px;
    float: left;

    font-weight: bold;
    color: #FFFFFF;
    background-color: #84D900;

    border-radius: 3px;
}

.new-character:hover{
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.5);
}

.new-character:active{
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.5);
}

.new-character[data-chartype="enemy"]{
    background-color: #D90048;
}

.character-list{

}

.character{
    margin-top: 5px;
    height: 50px;
    width: 300px;

    font-size: 9px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
}

.data{
    padding-top: 3px;
}

.character span{
    font-weight: bold;
}

.portrait{

}

.portrait img{
    width: 40px;
    margin: 5px 5px 0 5px;
}