body{
    font-family: Tahoma, Geneva, sans-serif;
    color: #333333;
}

a{
    text-decoration: none;
}

.controls{
    background-color: #333333;
    height: 50px;
}

.launch{
    padding: 5px;
    background-color: #7AA62B;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 1 rgba(255,255,255,.2);
}

.launch:hover{
    box-shadow: inset 0 0 0 1 rgba(255,255,255,.5);
}

.launch:active{
    box-shadow: inset 0 0 0 1 rgba(0,0,0,.5);
}